.footer {
    background-color: #231f20;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    height: 100%;
    padding: 50px;
  }
  
  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footerContent p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  .footerContent nav {
    margin-top: 10px;
  }
  
  .footerContent nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  
  .footerContent nav a:hover {
    text-decoration: underline;
  }
  