/* HomePage.module.css */

/* Main styles */
.main {
  background-color: #f9f9f9;
}

.container {
  color: var(--primary);
  background: var(--secondary);
  cursor: default;
  padding: auto 60px;
}

.s1, .s2 {
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  padding: 160px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.s2 {
  min-height: 70vh;
}

.s1Title, .s2Title {
  font-size: 48px;
  font-family: "Montserrat SemiBold";
  font-weight: 600;
}

.s2Title {
  z-index: 1000;
}
.s1Subtitle, .s2Subtitle {
  font-size: 24px;
  margin: 18px 0;
  font-family: "Montserrat";
  font-weight: 400;
  margin-bottom: 30px;
  z-index: 1000;
}

.s1Linkcontainer, .s2Linkcontainer {
  margin-top: 30px;
}

.s1Link, .s2Link {
  position: relative;
  border: none;
  background: #ffffff;
  color: var(--secondary);
  padding: 16px 40px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-family: "Montserrat SemiBold";
  font-weight: 600;
}

.s1Link:hover:before, .s2Link:hover:before {
  transform: translate3d(3px, 3px, 0);
}

.s1Link:before, .s2Link:before {
  border: 1px solid #fff;
  box-sizing: border-box;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: transform 0.2s;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  width: 100%;
}

@media (max-width: 780px) {
  .s1Title, .s2Title {
    font-size: 36px;
  }
  
  .s1Subtitle, .s2Subtitle {
    font-size: 16px;
  }
}

.infoSection {
  padding: 20px;
  padding-left: 25px;
  background-color: #f9f9f9;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.infoContent {
  max-width: 50%;
  margin: 120px 40px;
  text-align: left;
}

.infoTitle {
  font-size: 36px;
  margin-bottom: 20px;
}

.infoText {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.graphContainer {
  max-width: 45%;
  margin: 60px auto;
  margin-right: 40px;
  text-align: center;
  color: rgb(19, 19, 217);
  font-size: 16px;
}

.sectionSubtitle {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Montserrat SemiBold";
}

.graph {
  width: 90%;
  height: 450px;
  border-radius: 10px;
}



.socialMedia {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.socialMedia a {
  color: inherit;
  text-decoration: none;
}

.socialMedia a:hover {
  color: #8b6e3b; 
}

.productSection {
  margin: -10px 0px;
}

.product:hover .frontImage {
  transform: scale(1.05);
  opacity: 0;
}

.product:hover .backImage {
  transform: scale(1.05);
  z-index: 0;
  opacity: 1;
}

.frontImage {
  width: max(18.229vw, 300px);
  height: max(18.229vw, 300px);
  object-fit: contain;
  transform: scale(1);
  background: var(--productImage);
  transition: all 0.2s cubic-bezier(0.61, 1, 0.88, 1),
  transform 0.4s cubic-bezier(0.61, 1, 0.88, 1);
  opacity: 1;
}

.backImage {
  width: max(18.229vw, 300px);
  height: max(18.229vw, 300px);
  object-fit: cover;
  transform: scale(1);
  background: var(--productImage);
  transition: all 0.2s cubic-bezier(0.61, 1, 0.88, 1),
  transform 0.4s cubic-bezier(0.61, 1, 0.88, 1);
  z-index: -1;
  opacity: 0;
}

.galleryImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.productGallery {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 70px;
  background-color: #FEFDFC;
  color: #ff0000;
}

.productGallery h3 {
  padding: 50px 3px ;
  padding-bottom: 40px;
  text-align: center;
  font-size: 2.1rem;
  color: rgb(197, 42, 11);
}

.newArrivalsHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
