.container {
  min-height: 100vh;
  background: var(--shopSecondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--shopPrimary);
  cursor: default;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 25px 25px;
  margin-top: 40px;
}

.leftSide, .rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leftSide {
  position: relative;
  width: 250px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto auto 5%;
}

.rightSide {
  padding: 10px 40px;
}

.productImage {
  z-index: 1;
  -webkit-user-drag: none;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.1s;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  margin-top: -20px;
}

.galleryCounter {
  position: absolute;
  bottom: -30px;
  right: 20px;
  font-family: "Montserrat Medium";
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.3rem;
  z-index: 2;
  color: var(--shopPrimary);
}

.galleryCurrentIndex {
  font-family: "Montserrat Bold";
  font-weight: 700;
}

.arrowContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  bottom: 50%;
  z-index: 1000;
}

.arrow {
  background-color: rgba(15, 13, 13, 0.6);
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(2, 2, 2, 0.6);
}

.productTitle {
  font-size: 33px;
  font-family: "Montserrat SemiBold";
  font-weight: 600;
  text-align: left;
  padding: 70px 0 10px 0;
}

.productDescription {
  font-size: 20px;
  margin: 13px 0;
  text-align: left;
}

.productQuantity {
  margin: 12px 0;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.productQuantity label {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.productQuantity input {
  width: 60px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.productPrice {
  font-size: 1.7rem;
  font-family: "Montserrat Medium";
  font-weight: 500;
  letter-spacing: 2px;
  margin: 15px 0;
  text-align: left;
}

.buyButtons {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 15px;
}

.addToBag,
.buyNow {
  flex: 1;
  gap: 20px;
}

.addToBag {
  background: #009dd1;
  border: none;
  outline: none;
  color: var(--shopSecondary);
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
  height: 75px;
  font-family: "Montserrat SemiBold";
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
  margin-right: 40px;
  margin-bottom: 20px;
}

.addToBag div {
  height: 1rem;
  overflow: hidden;
  position: relative;
}

.addToBag div :nth-child(1) {
  position: absolute;
  top: calc(50% - (0.9rem / 2));
  left: 0%;
  width: 100%;
  height: 0.9rem;
  overflow: hidden;
  transition: top 0.2s ease-in;
}

.addToBag div :nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 0.9rem;
  overflow: hidden;
  transition: top 0.2s ease-in;
}

.addToBag:hover div :nth-child(1) {
  top: calc(0% - 0.9rem);
}

.addToBag:hover div :nth-child(2) {
  top: calc(50% - (0.9rem / 2));
}

.buyNow {
  background: #1f43bf;
  display: none;
  border: none;
  outline: none;
  color: var(--shopSecondary);
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
  height: 75px;
  font-family: "Montserrat SemiBold";
  font-weight: 600;
  letter-spacing: 3px;
}

.buyNow:hover {
  background-color: #173cbf;
}

.productGallery {
  width: 100%;
  padding: 20px;
  text-align: center;
  padding: 20px auto;
}

.productGallery h3 {
  padding: 50px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 2.1rem;
}

.galleryImagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galleryArrow {
  background-color: rgba(15, 13, 13, 0.6);
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  bottom: 45px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.galleryArrow:hover {
  background-color: rgba(2, 2, 2, 0.6);
}

.galleryImages {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 80px;
}

.galleryItem {
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 50px;
}

.galleryItem:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.galleryImage {
  width: max(14.229vw, 250px);
  height: max(14.229vw, 250px);
  object-fit: contain;
  background-color: #fff;
  border: 1px solid rgba(208, 204, 204, 0.1);
  transition: box-shadow 0.3s ease;
}

.galleryItemInfo {
  text-align: center;
}

.galleryItemName {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
  text-align: left;
}

.galleryItemPrice {
  font-size: 1.1rem;
  color: #555;
  text-align: left;
}

.reviewSection {
  width: 100%;
  padding: 60px 110px;
  background-color: #d7d4d1;
  box-sizing: border-box;
  background-image: url(../images/ZGhs2nWQR3WYAaLAvMpwg9.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.reviewTitle {
  font-size: 2.4rem;
  font-family: "Montserrat SemiBold";
  font-weight: 500;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  margin: 50px auto 70px;
  z-index: 1000;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review {
  background: #fff;
  padding: 20px;
  width: calc(50% - 30px);
  max-width: calc(100% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  gap: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.reviewerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewerName {
  font-size: 1.4rem;
  font-family: "Montserrat SemiBold";
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.reviewDate {
  font-size: 1rem;
  color: #777;
}

.reviewRating {
  font-size: 1.4rem;
  color: #ffd700;
}

.reviewText {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.specTitle {
  font-size: 2.2rem;
  text-align: left;
  padding: 10px 0;
  color: #009dd1;
}

.specifications {
  list-style-type: none;
  padding: 0;
  font-size: 18px;
}

.specifications li {
  margin-bottom: 10px;
  font-size: 20px;
}

.specifications strong {
  font-weight: bold;
}

@media (max-width: 780px) {
  .container {
    flex-direction: column;
  }

  .main {
    flex-direction: column;
  }

  .leftSide, .rightSide {
    width: 100%;
    padding: 0;
  }

  .productTitle {
    font-size: 24px;
  }

  .productGallery {
    width: 100%;
    height: 100%;
  }

  .galleryItem {
    width: 45%;
    margin: 2.5%;
  }
}
